:root {
    --primary-bright: #93EEDE;
    --primary: #C7F5FB;
    --primary-dark: #719C9F;
    --primary-darker: #0F3333;
    --text-primary: #CAFBF5;
    --text-secondary: --primary-dark;
    --bg-color: #102325;
    --bg-color-lighter: #182E31;  
}

